.background1 {
    background-color: #0F0D71;
}
.background2 {
    background-color: #EFEFEF;
}
.background3{
    background-color: #3198D2;
}
.textcolor1 {
    color: #DFDFDF;
}
.textcolor2 {
    color: #0F0D71;
}

.w-10 {
    width: 3% !important;
}

.translate-start {
    transform: translateX(-2.5%) translateY(-25%) !important;
}
.translate-end {
    transform: translateX(-97.5%) translateY(-75%) !important;
}

.btnbleu:hover {
    color: #DFDFDF !important;
    background-color: #0F0D71 !important;
}
.btnvert:hover {
    color: #DFDFDF;
    background-color: green;
}